<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<div class="container">
  <div class="d-flex flex-column align-items-end">
    <button mat-raised-button color="accent" routerLink="/employee-list">
      Go to Employee List
    </button>
  </div>
  <div class="card p-5 mt-3">
    <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
      <mat-form-field appearance="outline">
        <mat-label>Employee Id</mat-label>
        <input
          matInput
          placeholder="Employee Id"
          name="employeeId"
          [(ngModel)]="employee.employeeId"
          disabled=""
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Employee Name</mat-label>
        <input
          matInput
          placeholder="Employee Name"
          name="employeeName"
          [(ngModel)]="employee.employeeName"
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contact Number</mat-label>
        <input
          matInput
          placeholder="Contact Number"
          name="employeeContactNumber"
          [(ngModel)]="employee.employeeContactNumber"
        />
        <mat-icon matSuffix>call</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input
          matInput
          placeholder="Address"
          name="employeeAddress"
          [(ngModel)]="employee.employeeAddress"
        />
        <mat-icon matSuffix>apartment</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose Your Department</mat-label>
        <mat-select
          name="employeeDepartment"
          [(ngModel)]="employee.employeeDepartment"
        >
          <mat-option value="IT">IT</mat-option>
          <mat-option value="Network">Network</mat-option>
          <mat-option value="Repair">Repair</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <label>Gender</label>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button
            [checked]="employee.employeeGender == 'Male'"
            (click)="selectGender('Male')"
            value="Male"
            >Male</mat-radio-button
          >
          <mat-radio-button
            [checked]="employee.employeeGender == 'Female'"
            (click)="selectGender('Female')"
            value="Female"
            >Female</mat-radio-button
          >
        </mat-radio-group>
      </div>

      <mat-form-field appearance="outline" class="mt-2">
        <mat-label>Employee Skills</mat-label>
        <input
          matInput
          placeholder="Employee Skills"
          name="employeeSkills"
          [(ngModel)]="employee.employeeSkills"
          disabled
        />
        <mat-icon matSuffix>menu_book</mat-icon>
      </mat-form-field>
      <div>
        <label>Skills</label>
        <section class="example-section">
          <mat-checkbox
            [checked]="checkSkills('Java')"
            (change)="onSkillsChanges($event)"
            class="example-margin"
            value="Java"
            >Java</mat-checkbox
          >
          <mat-checkbox
            [checked]="checkSkills('Angular')"
            (change)="onSkillsChanges($event)"
            class="example-margin"
            value="Angular"
            >Angular</mat-checkbox
          >
          <mat-checkbox
            [checked]="checkSkills('SpringBoot')"
            (change)="onSkillsChanges($event)"
            class="example-margin"
            value="SpringBoot"
            >SpringBoot</mat-checkbox
          >
          <mat-checkbox
            [checked]="checkSkills('AWS')"
            (change)="onSkillsChanges($event)"
            class="example-margin"
            value="AWS"
            >AWS</mat-checkbox
          >
        </section>
      </div>

      <mat-divider></mat-divider>

      <div class="text-center mt-3">
        <button mat-raised-button class="m-2">Clear</button>
        <button mat-raised-button color="primary" class="m-2">Save</button>
      </div>
    </form>
  </div>
</div>
